<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TEST HTML</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://api-maps.yandex.ru/1.1/index.xml" type="text/javascript"></script>
    <script src="js/available-monitor.js"></script>
    <link rel="stylesheet" type="text/css" href="css/c2mUI.css">

</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">C2M Admin Panel</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/organizations">Организации</a></li>
            <li><a href="/users">Пользователи</a></li>
            <li><a href="/roles">Роли</a></li>
            <li><a href="/devices">Устройства</a></li>
            <li class="active"><a href="/available-monitor">Мониторинг</a></li>
            <li><a href="/statloadtrans">Zabbix Monitoring</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> <%=user%></a></li>
            <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>
    </div>
</nav>
</nav>
<h2>Мониторинг доступности устройств</h2>
<!--<div class="form-group">
    <div id="YMapsID" style="width:100%;height:550px" ></div>
</div>-->

<div class="row" style="padding-left: 25px;" >
   <!-- <div class="col-lg-4">-->
        <table  id="dataTable" class="datatable table table-bordered table-striped">
            <tr style="height: 50px">
                <th width="100px">Организация</th>
                <th width="100px">No</th>
                <th>В сети</th>
                <th>Значение</th>
                <th>Последний выход на связь</th>
            </tr>
            <% if(data.length){
            for(var i = 0;i < data.length;i++) { %>
            <tr id="<%=data[i].id%>" class="bg-info">
                <td width="100px">
                    <a class='deviceid' href="/organization-details?orgId=<%=data[i].orgid%>"><%=data[i].organization%></a>
                </td>
                <td width="100px">
                    <a class='deviceid' href="/device-details?devid=<%=data[i].devid%>"><%=data[i].devid%></a>
                </td>
                <td width="100px">
                    <span id="status_<%=data[i].id%>" name="status_<%=data[i].id%>"></span>
                </td>
                <td width="100px">
                    <%=data[i].nparam1%>
                </td>
                <td width="100px" id="time_<%=data[i].id%>" class="time">
                    <%=setCurrentDateFormat(data[i].createdAt)%>
                </td>
            </tr>
            <% }
            }else{ %>
            <tr>
                <td colspan="3">No data</td>
            </tr>
            <% } %>
        </table>
    <!--</div>-->
</div>


</body>
</html>