<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TEST HTML</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="js/data-grid.js"></script>
    <script src="js/organization.js"></script>

</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">C2M Admin Panel</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/organizations">Организации</a></li>
            <li><a href="/users">Пользователи</a></li>
            <li><a href="/roles">Роли</a></li>
            <li><a href="/devices">Устройства</a></li>
            <li><a href="/available-monitor">Мониторинг</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <!--<li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>-->

            <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>
    </div>
</nav>
    <form name = "create" id="createForm" action="/createNewOrganization" method = "GET">
        <button id = "newThread" class="btn btn-primary" type="submit">Создать организацию</button>
    </form>
<br/>
<input type="text" class="form-control" id="findOrgsInput" onkeyup="findTableRows('dataTable', this.id)" placeholder="Search for organization..">
    <table  id="dataTable" class="datatable table table-bordered">
        <tr>
            <th width="50px">No</th>
            <th>Название</th>
            <th>Головная организация</th>
            <th>Активен</th>
            <th>Остаток</th>
            <th>Блокировать</th>
            <th>Разблокировать</th>
            <th>Удаление</th>
        </tr>
        <% if(orglist.length){
        for(var i = 0;i < orglist.length;i++) { %>
        <tr id="<%=orglist[i].id%>" class="bg-info">
            <td>
                <a href="/organization-details?orgId=<%=orglist[i].id%>"><%=orglist[i].id%></a>
            </td>
            <td>
                <input id="name_<%=orglist[i].id%>" readonly="readonly" type="text" class="form-control editable" value="<%=orglist[i].organization%>">
            </td>
            <td><input type="text" readonly="readonly" id="parent_<%=orglist[i].id%>" class="form-control editable" value="<%=orglist[i].parentorg.organization%>"></td>
            <td><%=orglist[i].active%></td>
            <td>
                <input id="qty<%=orglist[i].id%>" readonly="readonly" type="text" class="form-control editable" value="<%=orglist[i].inventQty%>">
            </td>
            <td>
                <a href="/blockOrganization?orgId=<%=orglist[i].id%>&active=0">Заблокировать</a>
            </td>
            <td>
                <a href="/blockOrganization?orgId=<%=orglist[i].id%>&active=1">Разблокировать</a>
            </td>
            <td>
                <a href="/deleteOrganization?orgId=<%=orglist[i].id%>">Удалить</a>
            </td>
        </tr>
        <% }
        }else{ %>
        <tr>
            <td colspan="3">No data</td>
        </tr>
        <% } %>
    </table>

</body>
</html>