<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TEST HTML</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="js/data-grid.js"></script>
    <script src="js/users.js"></script>

    <link rel="stylesheet" type="text/css" href="css/c2mUI.css">

</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">C2M Admin Panel</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/organizations">Организации</a></li>
            <li class="active"><a href="/users">Пользователи</a></li>
            <li><a href="/roles">Роли</a></li>
            <li><a href="/roots">Права доступа</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
    </div>
</nav>
</nav>
<form name = "create" id="createForm" action="/createUser" method = "GET">
    <button id = "newThread" class="btn btn-primary" type="submit">Создать пользователя</button>
</form>
<br/>
<input type="text" class="form-control" id="findUsersInput" onkeyup="findTableRows('dataTable', this.id)" placeholder="Search for users..">
<table  id="dataTable" class="datatable table table-bordered table-striped">
    <tr>
        <th width="50px">No</th>
        <th>Пользователь</th>
        <th>Пароль</th>
        <th>Организация</th>
        <th>Роль</th>
        <th>Статус</th>
        <th>Организация</th>
        <th>Роль</th>
        <th>Удаление</th>

    </tr>
    <% if(users.length){
    for(var i = 0;i < users.length;i++) { %>
    <tr id="<%=users[i].recid%>" class="bg-info">
        <td><%=users[i].recid%></td>
        <td>
            <input id="name_<%=users[i].recid%>" readonly="readonly" type="text" class="form-control editable" value="<%=users[i].user%>">
        </td>
        <td><input type="text" readonly="readonly" id="passw_<%=users[i].recid%>" class="form-control editable" value="<%=users[i].password%>"></td>
        <td>
            <input type="button" value="..." id="lookupBtn_<%=users[i].recid%>" class="lookupUsers">
            <output id="orgLookup_<%=users[i].recid%>"><%=users[i].orgid%></output>
        </td>
        <td><%=users[i].roleid%></td>
        <td><input type="checkbox" id="status_<%=users[i].recid%>" <%if (users[i].status == 1) {%>  checked="checked"  <%}%> style="width: 20px; height: 20px;"/></td>
        <td>
            <a href="/blockUser?recid=<%=users[i].recid%>&active=0">Выбрать</a>
            <a data-toggle="modal" href="#addOrganizationDialog" data-id="<%=users[i].user%>" class="open-addOrgDialog">Привязать к организации</a>
        </td>
        <td>
            <a href="/blockUser?recid=<%=users[i].recid%>&active=1">Выбрать</a>
        </td>
        <td>
            <a href="/deleteUser?recid=<%=users[i].recid%>">Удалить</a>
        </td>
    </tr>
    <% }
    }else{ %>
    <tr>
        <td colspan="3">No data</td>
    </tr>
    <% } %>
</table>
<!-- The Modal -->
<div id="organizationLookup" class="modal">
    <!-- Modal content -->
    <div class="modal-content" style="width:850px;">
        <span class="close">&times;</span>
        <h3>Выбор организации</h3>
        Пользователь:<span name="recId" id="recId"></span>
        <br/>
        <input type="text" class="form-control" id="findInput" onkeyup="findTableRows('lookupOrgTable', this.id)" placeholder="Search for orgs..">
        <table class="table table-bordered table-hover table-striped" id="lookupOrgTable">
            <thead>
            <tr id="row00" class="bg-info">
                <th>No</th>
                <th>Организация</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <button type="button" class="btn btn-default" onclick="organizationLookup.style.display = 'none'">Отмена</button>
    </div>

</div>
</body>
</html>